{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Usuarios</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Clave</th>
                <th>Nombres</th>
                <th>Usuario</th>
                <th>Accciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                <td>{{ usuario.clave }}</td>
                <td>{{ usuario.nombres }}</td>
                <td>{{ usuario.usuario }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('usuario_show', { 'id': usuario.id }) }}">Mostrar</a>
                    <a class="btn btn-primary" href="{{ path('usuario_edit', { 'id': usuario.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('usuario_new') }}">Crear nuevo usuario</a>
{% endblock %}
